<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css" type="text/css" />
    <title>Museum</title>
</head>
<body>
    <h1>Organizer Page</h1>
<button onclick="getData()">Get Data</button>
<button onclick="saveData()">Save Data</button>
<button onclick="resetVotes()">Reset Data</button>
<button><a href="voting.html">Go to Voting Page</a></button>
    <script src="../public/functions.js"></script>
</body>
</html>