<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css" type="text/css" />
    <title>Museum</title>
</head>
<body>
    <h1>Voting Page</h1>
    <h4>Vote 1 for Menstrual Health (MH)</h4>
    <h4>Vote 2 for Safer Sex (SS)</h4>
    <h4>Vote 3 for Reassigning Sexual Attitudes (RSA)</h4>
    <h4>Vote 4 for All of the Above (ALL)</h4>

    <div>
        <button onclick="vote1()">1</button>
        <button onclick="vote2()">2</button>
        <button onclick="vote3()">3</button>
        <button onclick="vote4()">4</button>
    </div>

    <button><a href="index.html">Go to Home Page</a></button>
    <script src="../public/functions.js"></script>
</body>
</html>